input[type=number] {
    -moz-appearance: textfield;
}

.input-group-text {
    padding-top: 0;
    padding-bottom: 0.75rem;
}

.modal-header .btn-close {
    border: none;
    background: white;
    padding: 0.5rem;
    outline: none;
}

.modal-header .btn-close:before {
    content: '×';
    font-size: 1.75rem;
    align-items: center;
    display: flex;
    height: 10px;
}

.design-table table tr:first-child th {
    background: #1d1d21 !important;
    color: #ffbf00 !important;
}

.design-table input, .design-table select, .design-table .input-group-append, .design-table .input-group-prepend {
    border: 1px solid black;
}

.report-table-1 .symbol-name, .report-table-head span {
    background: #1d1d21;
    color: #f7d160 !important;
    font-weight: bold;
    text-align: center;
}

.report-table .symbol-name {
    font-weight: bold;
}

.report-table input, .report-table select, .report-table .input-group-append, .report-table .input-group-prepend {
    border: 1px solid black;
    margin: 2px 0 !important;
}